<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">

</script>
<style type="text/css">

fieldset{
	width: 300px;	
}
#mydiv , #mydiv2{
	margin: auto;
	width: 600px; 
}
label{
	width: 80px;
	height: 30px;
	float: left;
	line-height: 30px;
}
input{
height: 30px;
}
</style>
<script type="text/javascript">
function send_go(f){
	// 자바스크립트를 사용할 때 required가 실행 되지 않는다.
	// 그러므로 유효성 검사를 해야한다.
	var s1 = f.s1.value; // this.form에 s1에 값
	if(s1 == ''){
		alert("수1를 입력하세요");
		f.s1.focus();
		return;
	}
	var s2 = f.s2.value;
	if(s2 == ''){
		alert("수2를 입력하세요");
		f.s2.focus();
		return;
	}
	
	// form에 action이 있으면 생략하고 없으면 코딩해야한다
	f.action="/01_servlet/Ex07";
	f.submit();
}
</script>
</head>
<body>
	<div id='mydiv'>
	<form action="/01_servlet/Ex07" method="get">
	<fieldset>
		<legend>계산기</legend>
		<p><label for="s1">수1 : </label>
		<input type="number" name="s1" id="s1" required></p>
		<p><label for="s2">수2 : </label>
		<input type="number" name="s2" id="s2" required></p>
		<p><labe>연산자 : </label>
		<input type="radio" name="op" value="+"> +
		<input type="radio" name="op" value="-"> -
		<input type="radio" name="op" value="*"> *
		<input type="radio" name="op" value="/"> /
		</p>
	<input type="submit" value="결과보기">
	</fieldset>
	</form>
	</div>
	<hr>
	<div id='mydiv2'>
	<form>
	<fieldset>
		<legend>계산기</legend>
		<p><label for="s1">수1 : </label>
		<input type="number" name="s1" id="s1" required></p>
		<p><label for="s2">수2 : </label>
		<input type="number" name="s2" id="s2" required></p>
		<p><labe>연산자 : </label>
		<input type="radio" name="op" value="+"> +
		<input type="radio" name="op" value="-"> -
		<input type="radio" name="op" value="*"> *
		<input type="radio" name="op" value="/"> /
		</p>
	<input type="button" value="결과보기" onclick="send_go(this.form)">
	</fieldset>
	</form>
	</div>
	<hr>
	<div id='mydiv3'>
	<!-- submit 성공시 자바스크립트에 send_go()로 이동하라 -->
	<form method="post" onsubmit="send_go(this.form)">
	<fieldset>
		<legend>계산기</legend>
		<p><label for="s1">수1 : </label>
		<input type="number" name="s1" id="s1" required></p>
		<p><label for="s2">수2 : </label>
		<input type="number" name="s2" id="s2" required></p>
		<p><labe>연산자 : </label>
		<input type="radio" name="op" value="+"> +
		<input type="radio" name="op" value="-"> -
		<input type="radio" name="op" value="*"> *
		<input type="radio" name="op" value="/"> /
		</p>
	<input type="submit" value="결과보기">
	</fieldset>
	</form>
	</div>
</body>
</html>